<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
     <div id="header" class="wide">
      <div id="header" class="wide-box">
        <ul class="no-decor">
          <li><a href="/"> <i><span style="font-family:monospace;">w e a v e</span></i> </a></li>
          <li><a href="/list"> articles </a></li>
          <li><a href="/ideas"> ideas </a></li>
          <li><a href="/about"> author </a></li>
        </ul>
      </div>
     </div>
    <div id='header' class='mobile'>
      <a href="/"> <i><span style="font-family:monospace;">w e a v e</span></i> </a>
      <a href="/list"> articles </a>
      <a href="/ideas"> ideas </a>
      <a href="/about"> author </a>
    </div>
    {% if post %}
    <div class="post-headline">
      By: {{ post.author }}&nbsp;
      Date: {{ post.date }}&nbsp;
      Tags:&nbsp;
      {% for tag in post.tags %}
      {{category}}
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
    {% endif %}
    <div id="content-block">
      {{ content }}
      {{ post.content }}
    </div>  
  </body>
</html>